{% extends 'base.html' %}

{% block conteudo %}

{% if current_user.is_authenticated %}



    {% if current_user.tipo == 'não informado' %}
    <h3>Precisamos terminar seu cadastro!</h3>

    <br>
    <form method="post" action="/user/update/{{current_user.id}}">
        <label for="psi.id" class="form-label">Função:</label>
        <select class="form-select" id="psi_id" name="psi_id" aria-label="Default select example" onchange="toggleFields()">
            <option selected value=""> - </option>        
            <option value="atendente">Atendente</option>
            <option value="psicólogo">Psicólogo</option>   
        </select>
    
        <div class="mb-3">
            <label for="crp" class="form-label">CRP:</label>
            <input class="form-control" type="text" id="crp" name="crp" disabled> 
        </div>
        <div class="mb-3">
            <label for="abordagem" class="form-label">Abordagem:</label>
            <input class="form-control" type="text" id="abordagem" name="abordagem" disabled> 
        </div>
    
        <input type="submit" class="btn btn-primary" value="Cadastrar">
        <br>
    </form>
    
    <script>
        function toggleFields() {
            var psiId = document.getElementById('psi_id').value;
            var crpField = document.getElementById('crp');
            var abordagemField = document.getElementById('abordagem');
    
            if (psiId === 'psicólogo') {
                crpField.disabled = false;
                abordagemField.disabled = false;
            } else {
                crpField.value = '';
                abordagemField.value = '';
                crpField.disabled = true;
                abordagemField.disabled = true;
            }
        }
    </script>





    {% else %}
        <h3>Página inicial</h3>
    {% endif %}








{% else %}
    {{ redirect('/login') }}
{% endif %}

{% endblock %}
