{% extends 'base.html' %}

{% block conteudo %}
        <form method="post" action='/pacientes/update/{{paciente.id}}'>
                <div class="mb-3">
                        <label for="nome" class="form-label">Nome:</label>
                        <input id="nome" class="form-control" type="text" name="nome" value="{{paciente.nome}}">
                    </div>
                    <div class="mb-3">
                        <label for="sobrenome" class="form-label">Sobrenome:</label>
                        <input id="sobrenome" class="form-control" type="text" name="sobrenome" value="{{paciente.sobrenome}}">
                    </div>
                    <div class="mb-3">
                        <label for="cpf" class="form-label">CPF:</label>
                        <input id="cpf" class="form-control" type="text" name="cpf" value="{{paciente.cpf}}">
                    </div>
                    <div class="mb-3">
                        <label for="nascimento" class="form-label">Data de Nascimento:</label>
                        <input id="nascimento" class="form-control" type="date" name="nascimento" value="{{paciente.nascimento}}">
                    </div>
                    <div class="mb-3">
                        <label for="genero" class="form-label">Gênero:</label>
                        <input id="genero" class="form-control" type="text" name="genero" value="{{paciente.genero}}">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input id="email" class="form-control" type="email" name="email" value="{{paciente.email}}">
                    </div>
                    <div class="mb-3">
                        <label for="ocupacao" class="form-label">Ocupação:</label>
                        <input id="ocupacao" class="form-control" type="text" name="ocupacao" value="{{paciente.ocupacao}}">
                    </div>
                    <div class="mb-3">
                        <label for="cep" class="form-label">CEP:</label>
                        <input id="cep" class="form-control" type="text" name="cep" value="{{paciente.cep}}">
                    </div>

                    <div class="mb-3">
                        <label for="endereco" class="form-label">Endereço:</label>
                        <input id="endereco" class="form-control" type="text" name="endereco" value="{{paciente.endereco}}">
                    </div>
                    <div class="mb-3">
                        <label for="endereco_complemento" class="form-label">Complemento do Endereço:</label>
                        <input id="endereco_complemento" class="form-control" type="text" name="endereco_complemento" value="{{paciente.endereco_complemento}}">
                    </div>
                    <div class="mb-3">
                        <label for="fone" class="form-label">Telefone:</label>
                        <input id="fone" class="form-control" type="text" name="fone" value="{{paciente.fone}}">
                    </div>               
                    <input type="submit" class="btn btn-primary" value="Alterar">
                </form>
{% endblock %}