{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
  <br>
  <a type="button" class="btn btn-primary" href="/pacientes/create">Cadastrar Paciente</a>
  {% if pacientes|length > 0 %}
    <h1>Lista de Pacientes de {{ pacientes[0].psi.nome }}:</h1>
    {% for paciente in pacientes %}
      <div class="container"></div>
      <br>
      <hr>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <h2>{{ paciente.nome }} {{ paciente.sobrenome }}</h2>
            <!-- Coluna 1 -->
            <div class="col-md-6">
              <p><b>Id:</b> {{ paciente.id }} </p>
              <p><b>Fone:</b> {{ paciente.fone }}</p>  
              <p><b>Psicólogo:</b> {{ paciente.psi.nome }}</p>
              <p><b>CPF:</b> {{ paciente.cpf }}</p>
            </div>
            <!-- Coluna 2 -->
            <div class="col-md-6">
              <p><b>Nascimento:</b> {{ paciente.nascimento }}</p>
              <p><b>Gênero:</b> {{ paciente.genero }}</p>
              <p><b>Email:</b> {{ paciente.email }}</p>
              <p><b>Endereço:</b> {{ paciente.endereco }}, {{ paciente.endereco_complemento }}</p>
            </div>
     
            {% for consulta in paciente.consultas %}
              <div class="card" style="width: 14rem;"> 
                <div class="card-body text-center">     
                  <p><b>Consulta:</b> {{ consulta.data_consulta }}<br>
                  {% if consulta.transcricao %}      
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transcricaoModal{{ consulta.transcricao.id }}">
                      Ver Transcrição
                    </button>


                    <div class="modal fade" id="transcricaoModal{{ consulta.transcricao.id }}" tabindex="-1" aria-labelledby="transcricaoModalLabel{{ consulta.transcricao.id }}" aria-hidden="true">
                      <div class="modal-dialog modal-xl ">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="transcricaoModalLabel{{ consulta.transcricao.id }}">Transcrição Detalhada</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body ">
                            <p><strong>Paciente:</strong> {{ paciente.nome }} {{ paciente.sobrenome }}</p>
                            <p><strong>Dia da Consulta:</strong> {{ consulta.data_consulta }}</p>
                            <p><strong>Transcrição:</strong> {{ consulta.transcricao.transcricao }}</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  {% else %}
                  <p>Transcrição não encontrada</p>

                  {% endif %}
                </p>
              </div>
              </div>
            {% endfor %}
       
          {% endfor %}
  {% else %}
    <p>Nenhum paciente cadastrado.</p>
  {% endif %}

  <br>
  <br>
</div>
{% endblock %}
