{% extends 'base.html' %}

{% block conteudo %}
<form method="post" action='/transcricoes/create'>
    <input type="hidden" name="id_consulta" value="{{ id_consulta }}">
    <input type="hidden" name="psi_id" value="{{ current_user.id }}">
    
    <div class="mb-3">
        <label for="transcricao" class="form-label">Transcrição:</label>
        <textarea class="form-control" name="transcricao" rows="35" required></textarea>
    </div>           

    <button type="submit" class="btn btn-primary">Salvar Transcrição</button>
    <br>
    <br>
</form>


{% endblock %}
