{% extends 'base.html' %}

{% block conteudo %}

<div class="container">
  <div class="container">
    <h1>Transcrições</h1>
    <a type="button" class="btn btn-primary" href="/transcricoes/create">Iniciar Transcrição</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Dia da Consulta</th>
        <th scope="col">Paciente</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for transcricao in transcricoes %}
      <tr>
        <td>{{ transcricao[0] }}</td> 
        <td>{{ transcricao[1] }}</td>
        <td>{{ transcricao[2] }}</td>
        <td>
          <!-- Botão para abrir o modal com detalhes da transcrição -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transcricaoModal{{ transcricao[0] }}">
            Ver Transcrição
          </button>
          <a type="button" class="btn btn-primary" href="/transcricoes/update/{{ transcricao[0] }}">Editar</a>
          <a type="button" class="btn btn-primary" href="/transcricoes/delete/{{ transcricao[0] }}">Deletar</a>
        </td>
      </tr>

      <!-- Modal para exibir a transcrição -->
      <div class="modal fade" id="transcricaoModal{{ transcricao[0] }}" tabindex="-1" aria-labelledby="transcricaoModalLabel{{ transcricao[0] }}" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="transcricaoModalLabel{{ transcricao[0] }}">Transcrição Detalhada</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p><strong>Paciente:</strong> {{ transcricao[2] }}</p>
              <p><strong>Dia da Consulta:</strong> {{ transcricao[1] }}</p>
              <p><strong>Transcrição:</strong> {{ transcricao[3] }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
