{% extends 'base.html' %}

{% block conteudo %}
                <form method="post" action='/transcricoes/update/{{transcricao.id}}'>        
                    <label for="id_consulta" class="form-label">Consulta:</label>
                        <select class="form-select" name="id_consulta" aria-label="Default select example">
                        <option selected> - </option>
                            {% for consulta in consultas %}
                            <option value="{{ consulta.id }}" {% if consulta.id == transcricao.id_consulta %}selected{% endif %}>
                                {{ consulta.data_consulta }} - {{ consulta.paciente.nome }}
                            </option>
                            {% endfor %}
                        </select>
                    <br>
                        
                        <div class="mb-3">
                            <label for="transcricao" class="form-label">Transcrição:</label>
                            <textarea class="form-control" name="transcricao" rows="55" required>{{ transcricao.transcricao }}></textarea>
                        </div>           
                             
                        <input type="submit" class="btn btn-primary" value="Alterar">
                            <br>  
                    </form>

                    
                    <br>
                    <br>
                </form>
{% endblock %}